<div class="container mt-5">
  <h1 class="text-center mb-4">Lista de Eventos</h1>

  <div class="text-end gap mb-3">
    <div class="d-flex gap-2 mt-3">
      <button class="btn btn-success" (click)="createNewEventPage()">
        Criar Novo Evento
      </button>
      <button class="btn btn-success" (click)="filterEvents()">
        Filtrar Evento por Categoria
      </button>
    </div>
  </div>

  @if(loading) {
  <div class="text-center mt-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>
  }

  <div class="row">
    @for (event of events; track event.id) {
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ event.name }}</h5>
          <p class="card-text">{{ event.description }}</p>
          <p><strong>Data:</strong> {{ event.eventDate }}</p>
          <p><strong>Local:</strong> {{ event.location }}</p>
          <button class="btn btn-primary mt-2" (click)="detailEvent(event.id)">
            Detalhes do Evento
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
